---

interface Props {
    activp: string;
}

const { activep } = Astro.props;
---

<li class="header">

</li>
<style>
    .header {
        position: sticky;
        top: 1rem;
        background-color: #23262d;
    }
</style>